/.phpunit.cache
/.phpunit.result.cache
/.fleet
/.idea
/.vscode
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
!.env.example
!.env.testing
.env
.env.backup
.env.production
.env.*.local
Homestead.json
Homestead.yaml
auth.json
composer.phar
npm-debug.log
yarn-error.log
